/* TYPOGRAPHY */
html[data-theme=dark] body,
html[data-theme=dark] .navbar .nav-item > .nav-link,
html[data-theme=dark] .dropdown-wrapper .dropdown-title,
html[data-theme=dark] .navbar .nav-link,
html[data-theme=dark] .navbar .site-name {
  color: var(--black);
}

html[data-theme=dark] .navbar .nav-link.active {
  color: var(--theme-color);
}


h1,
.page-title h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

@media (min-width: 50em) {
 h1,
 .page-title h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  p {
    font-size: 1rem;
  } 
}

img {
  border-radius: 8px;
}

figcaption {
  font-style: italic;
}

.article-item .title {
  text-decoration: underline;
  transform: scale(1.0);
}

.article-item .title:focus{
  text-decoration: none;
  scale: 1.05;
}

.article-item .title:hover {
  color: var(--theme-color-dark);
  text-decoration: none;
  scale: 1.05;
}

.home-page .vp-hero-info h1,
.home-page .vp-hero-info .vp-description {
  color: var(--white);
}

html[data-theme=dark] .home-page .hero-info h1,
html[data-theme=dark] .home-page .hero-info .description,
html[data-theme=dark] .action-button.primary,
html[data-theme=dark] .action-button.secondary {
  color: var(--black);
}

.home-page .vp-hero-info-wrapper img,
.vp-hero-image {
  border-radius: 20em;
}
/* LAYOUT */
@media (max-width: 50em) {
  // figure {
  //   margin: 0;
  // }  
}
.home-page .vp-project-home {
     background: url("/images/poignee-de-quinoa-dans-une-main-2-overlay.jpg") center/cover no-repeat;
}
// .home-page header,
// .home-page .hero-info,
// .home-page .home.project .hero .description {
//   color: white
// }
.home.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vp-hero-image { 
  display: flex;
  justify-content: center;
}
.vp-hero-image img {
  width: 10vw;
}

.custom-page .page-info,
.custom-page .page-meta {
  display: none;
}

.tab-list-nav {
  background-color: var(--theme-color);
}

.tab-list-nav button {
  color: var(--white);
}

.tab-list-nav button.active,
.tab-list-nav-item:hover {
  color: initial;
}

html[data-theme=dark] .tab-item {
  background: var(--bg-color);
}

html[data-theme=dark] #app .tab-list-nav button.active {
  color: var(--white);
}

html[data-theme=dark] #app .tab-list-nav-item:hover {
  color: var(--black);
}

#tab-3-0 > figure > img {
  width: 50%;
}

iframe.contact-form {
  height: 50em;
}
.newsletter-wrapper {
    display: flex;
    justify-content: center;
}

iframe.newsletter-embed {
    width: 100%;
    height: 16em;
    border-radius: 8px;
}


@media (min-width: 50em) {
  // iframe.newsletter-embed {
  //   width: 90%;
  // }
}

iframe.newsletter-embed html {
  background-color: var(--color_theme_accent);
}

.theme-container.has-toc .page {
    padding-right: 0;
}

.image-cropped-wrapper {
  overflow: hidden;
}
.image-cropped-wrapper img,
.theme-hope-content img {
  width: 100%;
}


.article-wrapper figcaption {
  display:  none;
}

.article-wrapper figure {
  margin: 0;
}

.article-wrapper img {
  width: 100%;
}

.product-image-50vw {
  display: flex;
  justify-items: center;
}

.product-image-50vw img {
  width: 12.5em;
}

.buy-quinoa-call-to-action {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.buy-quinoa-call-to-action a {
  background-color: var(--theme-color);
  color: var(--white);
  border-radius: 20em;
  padding: 0 1em;
}

.buy-quinoa-call-to-action a:hover,
.buy-quinoa-call-to-action a:focus {
  border: 1px solid var(--black);
}